# 数据库DATABASE_URL='mysql+pymysql://account:password@127.0.0.1:3306/name?charset=utf8mb4'# 上传目录UPLOAD_DIRECTORY='../public/uploads/'# REDISREDIS_URL='redis://:password@127.0.0.1:6379/0'# 服务端资源文件DOMAIN='https://127.0.0.1:80'